
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Spring Boot User Authentication</title>
</head>
<body>
<form role="form" th:action="@{/sign-up}" th:method="post" th:object="${com.vila.devinhouse.projeto4.model.User}">
  <label for="nome">Nome</label>
  <input type="text" id="nome" name="nome" th:field="*{nome}">

  <label for="sobrenome">Sobrenome</label>
  <input type="text" id="sobrenome" name="sobrenome" th:field="*{sobrenome}">

  <label for="email">Email</label>
  <input type="text" id="email" name="email" th:field="*{email}">

  <label for="password">Password</label>
  <input type="password" id="password" name="password" th:field="*{password}">

  <input type="submit">
</form>
</body>
</html>